$spacing: 350px;
$dark-bg: rgba(15,15,15,0.95);
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
:root{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12,1fr);
}

h1,h2,h3, blockquote{
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}



header{
    position:relative;
    background: $dark-bg;
    grid-column: 2/ span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: $spacing;
}

section{
    grid-column: 2/8;
    padding: 1rem;
    background: $dark-bg;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: $spacing;

}

blockquote{
    margin: 0;
    padding: 0;
    grid-column: 2/ span 9;
    margin-bottom: $spacing;
    p{
        color: black;
        background-color: white;
        font-size: 4rem;
        display: inline;
        line-height: 1;
    }
}
ul{
    color: white;
    list-style: none;
    text-align: center;
    li{
        a{
            color: white;
            text-decoration: none;
            cursor:pointer
        }
        a:hover{

        }
    }
    
}
#email, #giuhub, #linkedin{ 
    //border: 2px solid black;
}

.left{
    grid-column: 6/12; 
 }

 .full{
     grid-column: 2/12;
 }

 #container{
    position: absolute;
	margin: auto;
	width: 80vw;
	height: 60pt;
	top: 0;
	bottom: 0;
	
	filter: url(#threshold) blur(0.6px);
 }

 #text1, #text2 {
	position: absolute;

	display: inline-block;
	
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	
	text-align: center;
	
	user-select: none;
}
 
